<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function adminLogin()
        {   
            let admin_email=$("#admin_email").val()
            let admin_password=$("#admin_password").val()
            console.log(admin_email)
            console.log(admin_password)
            let counter=0;
            if(admin_email==""||admin_email==null)
            {
                alert("Missing Fields")
                counter=1
            }
            else if(admin_password==""||admin_password==null)
            {
                alert("Missing Fields")
                counter=1
            }
            else if(!/\S+@\S+\.\S+/.test(admin_email))
            {
                alert("Invalid Email address")
                counter=1
            }
            if(counter==0)
            {
                $.ajax({
                url:"http://localhost:7000/immigration-canada/admin-login",
                type:"POST",
                dataType:"json",
                data:{
                    "user_email":admin_email,
                    "user_password":admin_password
                },
                success:function(response)
                {
                    console.log(response)
                    if(response.count==0)
                    {
                        alert("Login Failed,Try again")
                    }
                    else{
                        alert("Welcome")
                        window.location.href="/immigration-canada/users"
                    }
                }
            })

            }
            

        }
    </script>
    <script>
        function users()
        {
            console.log("users is clicked")
            $.ajax({
                url:"http://localhost:7000/immigration-canada/users",
                type:"GET",
                dataType:"json",
                statusCode:{
                    401:()=>
                    {
                        alert("Please Sign In First ")
                        window.location.href="/immigration-canada/admin-login"
                    },
                    200:()=>
                    {   
                        console.log("Inside status code 200")
                        window.location.href="/immigration-canada/users"
                    }
                }
            })
        }
        function applications()
        {
            $.ajax({
                url:"http://localhost:7000/immigration-canada/applications-admin",
                type:"GET",
                dataType:"json",
                statusCode:{
                    401:()=>
                    {
                        alert("Please Sign In First ")
                        window.location.href="/immigration-canada/admin-login"
                    },
                    200:()=>
                    {   
                        console.log("Inside status code 200")
                        window.location.href="/immigration-canada/users"
                    }
                }
            })
            
        }
        function news_Section()
        {
            $.ajax({
                url:"http://localhost:7000/immigration-canada/news-home-admin",
                type:"GET",
                dataType:"json",
                statusCode:{
                    401:()=>
                    {
                        alert("Please Sign In First ")
                        window.location.href="/immigration-canada/admin-login"
                    },
                    200:()=>
                    {   
                        console.log("Inside status code 200")
                        window.location.href="/immigration-canada/users"
                    }
                }
            })

        }
        function webforms()
        {
            $.ajax({
                url:"http://localhost:7000/immigration-canada/webforms",
                type:"GET",
                dataType:"json",
                statusCode:{
                    401:()=>
                    {
                        alert("Please Sign In First ")
                        window.location.href="/immigration-canada/admin-login"
                    },
                    200:()=>
                    {   
                        console.log("Inside status code 200")
                        window.location.href="/immigration-canada/users"
                    }
                }
            })

        }
        function help_centre()
        {
            $.ajax({
                url:"http://localhost:7000/immigration-canada/help-section",
                type:"GET",
                dataType:"json",
                statusCode:{
                    401:()=>
                    {
                        alert("Please Sign In First ")
                        window.location.href="/immigration-canada/admin-login"
                    },
                    200:()=>
                    {   
                        console.log("Inside status code 200")
                        window.location.href="/immigration-canada/users"
                    }
                }
            })

        }
        function processing_time()
        {
            $.ajax({
                url:"http://localhost:7000/immigration-canada/processingTime",
                type:"GET",
                dataType:"json",
                statusCode:{
                    401:()=>
                    {
                        alert("Please Sign In First ")
                        window.location.href="/immigration-canada/admin-login"
                    },
                    200:()=>
                    {   
                        console.log("Inside status code 200")
                        window.location.href="/immigration-canada/users"
                    }
                }
            })

        }
    </script>
    <link rel="stylesheet" href="../CSS/admin_home.css">

</head>
<body>

    <!--Temp Code Starts Here-->
    <div class="row row_header">
        <div class="col-xs-1">
            
        </div>
        <div class="col-xs-8">
            <nav>
                <ul>
                    <li>
                        <a  onclick="users()">USERS</a>
                        <a  onclick=applications()>APPLICATIONS</a>
                        <a onclick=news_Section()> NEWS SECTION</a>
                        <a onclick=webforms()>WEBFORMS</a>
                        <a onclick=help_centre()>HELP CENTRE SECTION</a>
                        <a onclick=processing_time() >PROCESSING TIME</a>
                        
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-xs-3">
            
            
        
         
         
        </div>
    </div>

    <!--Temp Code Ends Here-->
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <h1>ADMIN WORKSPACE</h1>
            <br>
            <div class="row">
                <label for="">Email</label>
                <input type="text"
                class="form-control"
                placeholder="Enter Email"
                id="admin_email">
                <br>
                <label for="">Password</label>
                <input type="password"
                class="form-control"
                placeholder="Enter Password"
                id="admin_password">
                <br>
                <button class="btn btn-danger"
                onclick="adminLogin()">Login</button>
            </div>
        </div>
        <div class="col-xs-4"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12"></div>
    </div>
</body>
</html>