<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Forgot Password</title>
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Overlock:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../CSS/signin.css">
    
</head>
<body>
        <!-- Login/Signup -->
        <center>
            <div class="wrapper">
              <div class="title-text">
                 <div class="title login">
                    Forgot Password
                    <p>You can reset your password here !!</p>
                 </div>
                 
              </div>
             
                 <div class="form-inner">
                    <form action="/signin" method="POST" class="login">
                       <div class="field">
                          <label for="emailaddress">Email Address</label>
                          <input type="text" placeholder="Email
                           Address" name="email"
                           id="user_email"
                            
                           >
                       </div>
                       <br>
                       <br>
                       <div class="field">
                        <label for="">Security Question</label>
                        <select name="" id="security_ques" class="form-control security">
                     <option value="ques1">What was the name of your first Manager</option>
                     <option value="ques2">What is the name of your best friend</option>
                      <option value="ques3">What was the name of your first pet</option>
                      
                     </select>
                     <br>
                     
                     </div>
                     <br>
                     <div class="field">
                        <input type="text"
                        class="form-control"
                        id="security_ques_ans"
                        placeholder="Security Question">
                     </div>
                 
                    <br>
                    <div class="field">
                        <button type="button"  onclick=checkUser() class="btn btn-dark">Check</button>
                    </div>
                    <br>
                    <br>
                    <div class="field">
                        <label for="">Enter New Password</label>
                        <input type="text"
                        id="new_password"
                        class="form-control"
                        placeholder="Enter New Password"
                        disabled>
                    </div>
                       <br>
                       <div class="field">
                           <label for="">Confirm New Password</label>
                           <input type="text"
                           id="confirm_new_password"
                           placeholder="Confirm New Password"
                           disabled>
                       </div>
                     
                      
                         <!--
                          <div class="btn-layer"></div>
                          <input onclick="submitForm(email.value,password.value)" type="submit" value="Login">
                         -->
                         <button type="button" 
                          onclick=resetPassword()
                          id="re"
                          disabled
                          class="btn btn-dark">Reset Password</button>
                         <br>
                      
                      
                       
                    </form>
                  
                 </div><br>
              </div>
           </div>
          </center><br><br>
          

<script>
    function checkUser()
    {       
        console.log("Check User clicked successfully")
        let user_email=$("#user_email").val()
         let user_security_ans=$("#security_ques_ans").val()
         let user_security_ques=$("#security_ques").val()
         console.log(user_email)
         console.log(user_security_ans)
         console.log(user_security_ques)


         var  counter=0
                if(user_email==""||user_email==null)
                {   
                    alert("Please enter Email")
                    counter=1
                }
                else if(user_security_ques==""||user_security_ques==null)
                {
                    alert("Please fill up the Security Ques")
                    counter=1
                }
                else if (!/\S+@\S+\.\S+/.test(user_email)){
                    alert("Invalid Email Addresss")
                    counter=1
                }
                else{
                    //Do Nothing
                }
                if(counter==0)
                {
                    $.ajax({
                        url:"http://localhost:7000/immigration-canada/check-reset-password",
                        type:"POST",
                        dataType:"json",
                        async:false,
                        data:{
                            "user_email":user_email,
                            "user_ques":user_security_ques,
                            "user_ans":user_security_ans
                        },
                        success:function(response)
                        {
                            console.log(response)
                            if(response.length==0)
                            {
                                alert("Check your details,Try again")
                            }
                            else
                            {
                                enablePassword()
                            }
                        }
                    })
                }
        

    }
    function enablePassword()
    {   
        
        $("#new_password").removeAttr("disabled")
        $("#confirm_new_password").removeAttr("disabled")
        $("#re").removeAttr("disabled")
        let user_email=$("#user_email").val()
        console.log("Inside Write Reset Password")
        console.log(user_email)
        $.ajax({
            url:"http://localhost:7000/immigration-canada/write-reset-password",
            type:"POST",
            dataType:"json",
            data:{
                "user_email":user_email
            },
            success:function(response)
            {
                console.log(response)
            }

        })

    }
    function resetPassword()
    {
        console.log("Reset Password clicked successfully")
        let user_password=$("#new_password").val()
        let confirm_password=$("#confirm_new_password").val()
        let counter=0
        if(user_password==""||user_password==null)
        {
            alert("Missing Fields")
            counter=1
        }
        else if(confirm_password==""||confirm_password==null)
        {
            alert("Missing Fields")
            counter=1
        }
        else if(confirm_password!=user_password)
        {
            alert("Password and confirm Password  don't match")
            counter=1
        }
        else{
            //Do Nothing

        }
        if(counter==0)
        {
            $.ajax({
                url:"http://localhost:7000/immigration-canada/set-reset-password",
                type:"POST",
                dataType:"json",
                async:false,
                data:{
                    "user_password":confirm_password
                },
                success:function(response)
                {
                    console.log(response)
                    alert("Password changed successfully")
                }
            })
            windwo.location.href="/immigration-canada/user-login"
        }
    }
</script>
</body>
</html>